/* my first css */

body {
    font-family: Arial, Helvetica, sans-serif;   
    background-color: #ffffcc;
}


img {
    border: 10px solid green;
}

/* h1 {
    border: 10px solid rebeccapurple;
} */

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 1.5rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
    background: lightgray url(../CAT.jpg) no-repeat left top;
    height: 300px;
}

.testClass {

}

div {
    width: 600px;
    height: 600px;
    border: 1px solid yellow;
    margin: 50px auto;
    background-color: red;
    background-image: url(../67.webp);
    background-size: cover
    background-repeat: no-repeat;
    background-position: center;
}

