/* my first css */

body {
    font-family: Arial, Helvetica, sans-serif;   
    background-color: #ffffcc;
}


img {
    border: 10px solid green;
}

/* h1 {
    border: 10px solid rebeccapurple;
} */

blockquote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}

cite {
    font-size: 1.5rem;
}

.bigbold {
    font-weight: bold;
    font-size: 1.3rem;
    background: lightgray url(../CAT.jpg) no-repeat left top;
    height: 300px;
}

.testClass {

}

div {
    width: 600px;
    height: 600px;
    border: 4px solid red;
    margin: 50px auto;
    /* background-color: red; */
    /* background-image: url(../67.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    /* background-clip: content-box ; */
    background: url(../67.webp) center/cover no-repeat green;
  
}

/* body {
    background-image: url(../67.webp);
    background-size: 200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

a:link {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
 a:visited {
    color: rgb(183, 0, 255);
    font-weight: normal;

 }

 a:hover {
    color: orange;
    text-decoration: underline;
    background-color: yellow;
 }

 a.harvard:link {
    color: rgb(73, 20, 27);
    background-color: aqua;

 }
